<div class="modal-authentification" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formAuthentification">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" id="login"  placeholder="Login" formControlName="pseudo" >
          </div>
  
          <div class="form-group">
            <input type="password" class="form-control" id="mdp"  placeholder="Password" formControlName="mdp">
          </div>
  
          <div class="form-group">
            <a href="/inscription">Pas encore inscrit ?</a>
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="authentification()">Connexion</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="modal.dismiss()">Fermer</button>
        </div>
      </form>
      
    </div>
  </div>
</div>