<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">{{ applicationName }}</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/a_propos">A propos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/contactez-nous">Contactez-nous</a>
          </li>
      </ul>
    
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="open()">Connectez vous</button>
    
    </div>
  </nav>