<app-navbar></app-navbar>

<div class="container">

    <h1>Inscription</h1>

    <form class="form-inscription" [formGroup]="formUser" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <input type="text" class="form-control" id="pseudonyme" placeholder="Pseudonyme" formControlName="pseudo" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="nom" placeholder="Nom" formControlName="nom">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="prenom" placeholder="Prenom" formControlName="prenom">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Mot de passe" formControlName="mdp" required>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="passwordConfirmation"
                placeholder="Confirmer le mot de passe" formControlName="confirmMdp" required>
                <div *ngIf="f.confirmMdp.touched && f.confirmMdp.invalid" class="alert alert-danger">
                    <div *ngIf="f.confirmMdp.errors.mustMatch">Le mot de passe est différent</div>
                </div>
            
        </div>

        <div class="button-form">
            <button type="reset" class="btn btn-secondary" click="reset()">Reinialiser</button>
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </form>
</div>