<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <div style="float: left;">
        <a routerLink="/contact" routerLinkActive="active" >Contactez nous</a>
        <a routerLink="/about" routerLinkActive="active" style="padding-left: 20px;">A propos de nous</a>
    </div>
    <p>Copyright Droits réservés Fluxnews©</p>
  </nav>

  <router-outlet></router-outlet>