<p>homepage works!</p>

<div>
    <h1>Fluxnews</h1>
<p>A notre époque, le besoin d’informations est constant, particulièrement celles concernant l’actualité dans le monde, qu’elles soient politiques, éducatives, préventives comme en cette période de COVID-19. Notre proposition d’application répondrait à ce besoin d’être informé sur l’actualité, de permettre à nos utilisateurs de se renseigner à l’aide de sources variés ainsi que d’instaurer un esprit de communauté autour de notre outil afin de permettre un partage d’informations supplémentaire entre utilisateurs, dans le cadre de notre application mais également sur leurs réseaux sociaux afin de toujours plus pousser ce partage, répandre l’information et acquérir de la visibilité auprès d’un plus grand nombres de personnes.
    L’actualité est un domaine intergénérationnel, touchant toutes personnes. Vous aimez le sport, on bien la politique ou vous êtes tout simplement curieux de ce qui se passe dans le monde, alors vous allez vouloir vous renseigner, trouver l’information. Notre application répond à ce besoin mais on vous offrant en plus de cette expérience, la possibilité de vous exprimer et de participer à une communauté. Nous ne faisons pas que répondre à un besoin, nous offrons une nouvelle expérience à l’utilisateur.</p>

</div>
